<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="renderer" content="webkit">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    {% block title %} <title>no title</title> {% endblock %}
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
    body{
        background-image: url(img/backimg/2.jpg);
        background-size: cover;
    }
    </style>
</head>

<body >
    <div class="container">
        <br>
        {% block header %} <div>No header</div> {% endblock %}
        {% block body %} <div>No body</div> {% endblock %}
        {% block footer %}
        <footer>
            <div class="row">
                <div class="col-md-12 text-center text-primary" style="font-family: '微软雅黑',' 幼圆',' 黑体',' 等线'">感谢下列网站提供素材和部分技术支持</div>
            </div>
            <div class="row">
                <div class="col-md-2 text-center">
                    <a href="http://www.w3school.com.cn" target="_blank">W3school</a>
                </div>
                <div class="col-md-2 text-center"> 
                    <a href="http://v3.bootcss.com/" target="_blank">Bootstrap</a> 
                </div>
                <div class="col-md-2 text-center"> 
                    <a href="https://www.toptal.com/designers/subtlepatterns/" target="_blank">Subtle Patterns</a> 
                </div>
                <div class="col-md-2 text-center"> 
                    <a href="http://fontawesome.io" target="_blank">Font Awesome</a>
                </div>
            </div>
            <div class="copyright">
                <p style="text-align: center">Copyright &copy; 2017 电气学院网络部 , Org</p>
            </div>
        </footer>
        {% endblock %}
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>