{% extends './views/base.html' %}

{% block title %}
<title>{{ title }}</title>
<link rel="shortcut icon" href="favicon.ico">
{% endblock %}

{% block header %}
<div class="jumbotron" style="background:url(img/backimg/pow-star.png);">
    <div class="container">
        <div class="page-header">
            <h1 class="hidden">电气学院学生会</h1>
            <h2 class="hidden">网络部、女生部</h2>
            <img class="img-responsive" src="img/top.png" alt="电气学院学生会网络部欢迎您">
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="jumbotron" style="background:url(img/backimg/regal.png);">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3 style="font-family: '微软雅黑',' 幼圆',' 黑体',' 等线'">请许下你的愿望</h3>
                <form role="form" class="form-group col-md-4 col-md-offset-4" action="/girlsday/girls" method="post" name="girlform">
                    <div>
                        <label for="inputGirlnumber">学 号:</label>
                        <input class="form-control" id="inputGirlnumber" name="girlnumber" type="text" placeholder="学号" />
                    </div>
                    <div>
                        <label for="inputGirlname">姓 名:</label>
                        <input class="form-control" id="inputGirlname" name="girlname" type="text" placeholder="姓名" />
                    </div>
                    <div>
                        <label for="inputGirlClass">班 级:</label>
                        <input class="form-control" id="inputGirlclass" name="girlclass" type="text" placeholder="班级" />
                    </div>
                    <div>
                        <label for="inputGirlQQ">QQ:</label>
                        <input class="form-control" id="inputGirlQQ" name="girlQQ" type="text" placeholder="QQ" />
                    </div>
                    <div>
                        <label for="inputGirlTel">Tel:</label>
                        <input class="form-control" id="inputGirlTel" name="girlTel" type="text" placeholder="留下联系方式愿望才能生效哦" />
                    </div>
                    <div>
                        <label for="inputGirldream">愿 望:</label>
                        <input class="form-control" id="inputGirldream" name="girldream" type="text" placeholder="在这里写下自己的愿望吧" />
                    </div>
                    <div>
                        <label for="inputPassword">密 码:</label>
                        <input class="form-control" id="inputNumber" name="passwd" type="text" placeholder="一定要记好密码哦" />
                    </div>
                    <br>
                    <div>
                        <button type="submit" class="btn-block btn-danger">提 交</button>
                    </div>
                </form>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <h4 class="text-center">活动须知：</h4>
                <ol>
                    <li>请记住你设置的愿望密码！</li>
                    <li>男生领取你的愿望后，会得知你的姓，QQ，电话！</li>
                    <li>请把你的密码给为你实现了愿望的男生，这样他就可以抽奖了。</li>
                    <li>本次活动中，你只能设置一次愿望，请珍惜机会。</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}