{% extends './views/base.html' %}

{% block title %}
<title>{{ title }}</title>
<link rel="shortcut icon" href="favicon.ico">
{% endblock %}

{% block header %}
<div class="jumbotron" style="background:url(img/backimg/pow-star.png);">
    <div class="container">
        <div class="page-header">
            <h1 class="hidden">电气学院学生会</h1>
            <h2 class="hidden">网络部</h2>
            <img class="img-responsive" src="img/top.png" alt="电气学院学生会网络部欢迎您">
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="jumbotron" style="background:url(img/backimg/regal.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 style="font-family: '微软雅黑',' 幼圆',' 黑体',' 等线'">用户登录</h3>
                <form role="form" class="form-group col-md-4 col-md-offset-4" action="./girls" method="post">
                    <div>
                        <label for="inputGirlnumber">学 号:</label>
                        <input class="form-control" id="inputGirlnumber" name="girlnumber" type="text" placeholder="学号" />
                    </div>
                    <div>
                        <label for="inputGirlname">姓 名:</label>
                        <input class="form-control" id="inputGirlname" name="girlname" type="text" placeholder="姓名" />
                    </div>
                    <div>
                        <label for="inputGirlClass">班 级:</label>
                        <input class="form-control" id="inputGirlclass" name="girlclass" type="text" placeholder="班级" />
                    </div>
                    <div>
                        <label for="inputGirlQQ">QQ:</label>
                        <input class="form-control" id="inputGirlQQ" name="girlQQ" type="text" placeholder="QQ" />
                    </div>
                    <div>
                        <label for="inputGirlTel">Tel:</label>
                        <input class="form-control" id="inputGirlTel" name="girlTel" type="text" placeholder="Tel" />
                    </div>
                    <div>
                        <label for="inputGirldream">愿望:</label>
                        <input class="form-control" id="inputGirldream" name="girldream" type="text" placeholder="愿望" />
                    </div>
                    <div>
                        <label for="inputPassword">密码:</label>
                        <input class="form-control" id="inputNumber" name="Passwd" type="text" placeholder="密码" />
                    </div>
                    <br>
                    <div>
                        <button type="submit" class="btn-block btn-danger">提 交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}