{% extends './views/base.html' %}

{% block title %}
<title>许你一个不曾落空的愿望</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="./css/1.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="favicon.ico">
{% endblock %}

{% block header %}
<div class="jumbotron" style="background:url(img/backimg/pow-star.png);">
    <div class="container">
        <div class="page-header">
            <h1 class="hidden">电气学院学生会</h1>
            <h2 class="hidden">网络部、女生部</h2>
            <img class="img-responsive" src="img/top.png" alt="电气学院学生会网络部欢迎您">
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div align="center">
    <a href="/list"><button>男生戳我</button></a>

    <a href="/girls"><button>女生戳我</button></a>

    <a href="/finish"><button>抽奖戳我</button></a>
</div>
{% endblock %}
